body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	height: 100vh;
  }
  input {
      margin: 5px;
  }
  #registro .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 1000px;
	height: auto;
	border: 1px solid #9C9C9C;
    border-radius: 20px;
    border-color: #EAEAEA;
	background-color: #EAEAEA;
  }
  #registro .container #login-row #login-column #login-box #login-form {
	padding: 20px;
  }
  #registro .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
  }
  .space {
	  width: 100%;

  }
  .errores {
    border: 2px solid rgb(248, 136, 136) !important;
}
  .user {
    visibility: hidden;
  }
  .esconder {
    visibility: hidden;
  }